<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view view-title="Requests" ng-init="initialize()">
  <ion-nav-bar class="cingoThemeColor textWhiteColor">
      </ion-nav-bar>
    <ion-nav-buttons side="right" ng-show="true" >
        <button class="button  button-clear button-icon ion-plus" style="color:white;"
                ng-click="addNewRequests()">
        </button>
      </ion-nav-buttons>
    <ion-content class="padding backgroundLightGreyColor">         
         <div class="list list-inset">
             
  <div class="item item-text-wrap">
      <img  class="aspectFitImage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Target_Logo.svg/200px-Target_Logo.svg.png" />
      <p style="line-height: 150%;font: bold;"> {{request.details}}</p>
      <p>Status : {{request.status}}</p>
      <p>Time : {{request.requestFormattedDate}}</p>

  </div>
</div>
    </ion-content>
</ion-view>
