<!--<!DOCTYPE html>

To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.-->


<ion-view view-title="Cingo">
     <ion-nav-bar class="cingoThemeColor textWhiteColor">
      </ion-nav-bar>
    <ion-content class="padding backgroundLightGreyColor">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="user.confirmPassword">
            </label>
            <button class="button button-block cingoThemeColor textWhiteColor" ng-click="signUp(user)">
                Sign Up
            </button>
            <div style="float:right;width:100%;padding: 5px;">
                <p style="font-size: 20px;text-align: right;">
                 Have an account?
                 <a ng-click="signIn()">
                   Sign In
                 </a>
                </p>
            </div>
            <button class="button button-block facebookColor textWhiteColor" >
                Sign In with Facebook
            </button>
            <button class="button button-block googlePlusColor textWhiteColor" >
                Sign In with Google +
            </button>
            <button class="button button-block twitterColor textWhiteColor" >
                Sign In with Twitter
            </button>
        </div>
    </ion-content>
</ion-view>
