<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-tabs class="tabs-icon-top" ng-controller="tabBarController">
 
 
 <!-- Dashboard Tab -->
 <ion-tab title="Vendors" icon="icon ion-home" href="#/tabs/vendors">
     <ion-nav-view name="Vendors">
     </ion-nav-view>
 </ion-tab>
 
 
 <!-- Friends Tab -->
 <ion-tab title="Requests" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" href="#/tabs/requests">
 <ion-nav-view name="Requests"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Account Tab -->
 <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tabs/settings" on-select="settingsTapped()">
 <ion-nav-view name="Settings"></ion-nav-view>
 </ion-tab>
 
 
</ion-tabs>
