/* Empty. Add your own CSS if you like */
.cingoThemeColor{
    background: #0ac775;
}

.textWhiteColor{
    color: #FFFFFF;
   
}

.facebookColor{
    background: #3b5998;
}

.googlePlusColor{
    background:  #d34836;
}

.twitterColor{
    background: #00aced;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #0ac775;
}

.backgroundLightGreyColor{
    background:#f6f6f6;
}

.nav-bar-button-white-color{
    color:white;
}

.item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.my-item.item {
  padding-top: 0;
  padding-bottom: 0;
}

.full-width {
  width: 100%;
}
